body {
    /*font-size: 1.1rem;*/
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    color: rgb(100, 100, 100);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    --color-primary: cornflowerblue;
    --color-button-primary: cornflowerblue;
    --color-button-secondary: #bababa;
    --color-secondary: royalblue;
}

h1, h2, h3, h4 {
    font-family: 'Barlow', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 1.5rem;
    align-items: baseline;
    padding: 35px;
    background-color:  var(--color-primary);
    border-bottom: 5px solid  var(--color-secondary);
}

.header h1 {
    margin: 0;
}

.header > div:nth-child(2) {
    font-style: italic;
}

.header button {
    margin-left: 20px;
}

.flex-container {
    display: flex;
    padding: 50px;
    background: repeating-linear-gradient(-45deg, white, white 2px, #f2f2f2 2px, #f2f2f2 20px);
    min-height: 100vh;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 25vh;
    background-color:  white;
    box-shadow: 0 0 5px  var(--color-button-secondary);
    position: absolute;
}

.login-form {
    width: 100%;
    text-align: center;
}

.login input[type='text'] {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    width: 60%;
    margin-top: 30px;
}

.login input[type='text']::placeholder {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.login button {
    margin-top: 15px;
    width: 60%;
}

.image-button {
    display: inline;
    background-color:  var(--color-primary);
    border-radius: 2px;
    font-family: 'Barlow', sans-serif;
    color: white;
    padding: 10px;
    margin-right: 5px;
    cursor: default;
    width: 100%;
    font-size: 0.74rem;
}

.image-button img {
    position: relative;
    top: 7px;
    width: 30px;
    margin-left: 5px;
    pointer-events: none;
}

.image-button:hover {
    box-shadow: 0 0 8px  var(--color-primary);
}

.todo-container {
    display: flex;
    flex-grow: 1;
}

.todo-overlay {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: cadetblue;
    /* left: 50%; */
    text-align: center;
    height: 100%;
    width: 100%;
}

.todo-form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 10px;
    margin: 70px 30px 0 0;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 5px slategray;
}

.todo-form.edit {
    box-shadow: none;
    margin: 0;
}

.todo-list {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.todo-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px slategray;
    margin-bottom: 10px;
    background-color: white;
    padding: 15px;
    word-wrap: break-spaces;
    border-top: 4px solid  var(--color-primary);
}

.todo-card-body {
    display: flex;
}

.todo-card-content {
    width: 100%;
}

.todo-due-date {
    position: relative;
    top: -10px;
    left: -10px;
    background-color: lightseagreen;
    color: white;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.todo-message {
    font-size: 2rem;
    margin: 20px 0;
    max-width: fit-content;
}

.todo-message.completed {
    text-decoration: line-through;
}

.icon {
    width: 40px;
}

.todo-count {
    width: fit-content;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 15px;
    border-radius: 10px;
    background-color: white;
}

.todo-count > div {
    display: inline;
    background:  var(--color-primary);
    height: 50px;
    color: white;
    font-size: 1.5rem;
    width: 50px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
}

input {
    height: 3rem;
    margin: 5px;
    border: 1px solid lightgrey;
}

input:active {
    border: none;
}

input[type='text'] {
    border-radius: 2px;
}

input[type='date'] {
    border-radius: 2px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 0.7rem 10px;
    margin: 5px;
    min-width: 100px;
    font-family: 'Barlow', sans-serif;
}

.button {
    border: none;
    border-radius: 2px;
}

button.primary {
    background-color:  var(--color-primary);
    color: white
}

button.primary:hover {
    background-color: steelblue;
}

button.primary:active {
    background-color:  var(--color-secondary);
}

button:hover, button:enabled {
    outline: none
}

button.secondary {
    background-color:  var(--color-button-secondary);
    color: white
}

button.secondary:hover {
    background-color: #8a8a8a;
}

button.secondary:active {
    background-color:  #8a8a8a;
}

.button-bar {
    position: relative;
    top: -5px;
    right: -5px;
    width: max-content;
}

.button-bar img {
    width: 30px;
    margin-right: 10px;
}

.button-bar img:hover{
    transform: scale(1.2);
}

.notification-container {
    overflow: hidden;
    position: absolute;
    z-index: 3;
    top: 20px;
    height: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.notification {
    position: absolute;
    color: #19232d;
    line-height: 50px;
    padding: 0 10px;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    border-top: 2px solid var(--color-primary);
    background-color: white;
    width: 100%;
}

.not-found {
    position: relative;
    width: 50vw;
    margin: 0 auto;
    top: 25vh;
    text-align: center;
}

.not-found span {
    font-style: normal;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .3s ease-in;
}
